<form action="/posts/<%=@post.id%>/edit/success" method = "post">
  ID: <%=@post.id%><br>
  Title: <input type="text" name="title" value="<%=@post.title%>"><br>
  Content: <input type="text" name="content" value="<%=@post.content%>"><br>
  <input type="submit" value="ENTER"><br>
</form>