<form action="/posts/new/success" method = "post">
  Title: <input type="text" name="title">
  Content: <input type="text" name="content">
  Tag: <input type="text" name="tag_name">
  <input type="submit" value="ENTER">
</form>




<!-- <a href="/tags/new">Give a tag for this post</a></td> -->