<form action="/posts" method = "post">
  Title: <input type="text" name="post[title]">
  Content: <textarea type="text" name="post[content]" ></textarea>
  Tag: <input type="text" name="tags">
  <input type="submit" value="ENTER">
</form>




<!-- <a href="/tags/new">Give a tag for this post</a></td> -->